:root{
    --greentheme:#07f0a2;
    --bluetheme: #192440;
}
body{
    margin: 0%;
}
.banner{
    display: flex;
    background-image: url(../assets-images/banner-bk.jpg);
    justify-content:space-evenly;
}

.div1{
    height: 00px;

}
.logoLogo{
    height: 80px;
}

header{ 
    height: 602px ;
    margin-top: 40px;
      
}

.h2titulo{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

#checkprincing {
    font-size: 40px;
    font-weight: bold;
    color: #252323;
    font-family: Arial, Helvetica, sans-serif;

}
.par1{
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}


aside{
    width: 300px;
    color: #fff;
    font-size: 15px;
    font-family:arial;
    margin-top: 40px;

}
.boton1{
    color: #022149;
    background-color: var(--greentheme);
    border-radius: 30px;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    
}
.par2{
    font-size: 40px;
    width: 100%;
    height: 100px;
    color: #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
.title1{
    height: 150px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    font-size: 30px;
    margin-top: 30px;
    color: rgb(47, 46, 46);
}
.section2{
    display: flex;
    justify-content: space-evenly;

}
.threeimages{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.h3logo1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.h3logo2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.h3logo3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2e2e;

}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2e2e;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 620px;
    

}
.par3{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2e2e;

}
.parra2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    width: 690px;
    
}
.par4{
    font-size: 17px;
    margin-bottom: 50px;

}
.boton2{
    color:#fff;
    background-color: var(--bluetheme);
    border-radius: 30px;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 70px;
}
.pc{
    display: flex;
    justify-content: center;
    align-items: center;

}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 620px;
}  
.par5{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2e2e;
}
.boton2{
    color:#fff;
    background-color: #192440;
    border-radius: 30px;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 70px;
}
.tablet{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .degrade {
    background: linear-gradient(166deg, white 35%, var(--greentheme) 35%);
    margin-top: 50px;
 }

 .section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 620px;
 }


.section6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 5%;
}
.plans {
    display: flex;
    width: 70%;
    align-items: center;
    margin-bottom: 8%;
    margin-left: 20%;
}

.plan {
    background-color: #fff;
    padding: 20px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan.premium {
    background-color: var(--bluetheme);
    color: #fff;
}
.prem {
    color: #fff;
}
.plan h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan .price {
    font-size: 48px;
    margin: 20px 0;
}

.plan .price span {
    font-size: 18px;
    color: #888;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.plan ul li {
    margin: 10px 0;
}

.plan button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #000000;
}

.plan.premium button {
    padding: 10px 20px;
    border: none;
    background-color: var(--greentheme);
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.marcaSection {
    background-color: #e7e7e7;
    width: 100%;
    text-align: center;
    padding: 3%;
    margin-bottom: -5%;
}
.contact {
    background-image: url(../assets-images/banner-bk.jpg);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact p {
    margin: 10px 0;
    color: #fff;
}

.contactText{
    width: 40%;
    color: #fff;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.contact form input,
.contact form textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00d482;
    border-radius: 5px;
    background-color: var(--bluetheme);
    color: #fff;
}

label{
    color: var(--greentheme);
}
.contact form button {
    padding: 10px 20px;
    border: none;
    background-color: #00d482;
    color: var(--bluetheme);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

footer{
    background-color: var(--bluetheme);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
}

footer p {
    color: #fff;
    margin-right: 40%;
    margin-left: 10%;
}
footer .social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer .social-icons a {
    margin: 0 10px;
}

footer .social-icons img {
    width: 34px;
    height: 34px;
}

/*------------------- Responsive ----------------------------*/

/* Estilos para smartphones más pequeños (352-480px) */
@media only screen and (min-width: 352px) and (max-width: 480px) {
    header{ 
        height: 1002px ;
        margin-top: 40px;
          
    }
    
    .h2titulo{
        font-size: 40x;
        font-weight: bold;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    
    }
}

/* Estilos para laptops (769-920px) y abajo */
@media only screen and (max-width: 920px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .h2titulo {
        font-size: 36px;
        text-align: center;
    }

    .par1 {
        font-size: 14px;
        text-align: center;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    .section2 {
        flex-direction: column;
        align-items: center;
    }

    .threeimages {
        margin-bottom: 20px;
    }

    .par3 {
        font-size: 36px;
        text-align: center;
    }

    .parra2 {
        width: 90%;
        text-align: center;
    }

    .boton2 {
        width: 100%;
    }

    .section3,
    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pc,
    .tablet {
        display: block;
        margin: 20px auto;
    }

    .parra2,
    .parra3 {
        width: 90%;
        text-align: center;
    }

    .plans {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .plan {
        width: 80%;
    }

    .contactText {
        width: 100%;
    }
}

/* Estilos para smartphones más pequeños (352-480px) */
@media only screen and (max-width: 480px) {
    .h2titulo {
        font-size: 24px;
    }

    .par1 {
        font-size: 12px;
    }

    .par3 {
        font-size: 24px;
    }

    .parra2,
    .parra3 {
        width: 90%;
        text-align: center;
    }

    .boton1,
    .boton2,
    button[type="submit"] {
        width: 100%;
    }

    .plan {
        width: 90%;
    }

    .social-icons img {
        width: 24px;
        height: 24px;
    }
}


/* Estilos para pequeños desktops (921-1279px) */
@media only screen and (min-width: 921px) and (max-width: 1279px) {
    /* Agrega aquí tus estilos para pequeños desktops */
}

/* Estilos para desktops más grandes (1280px y más) */
@media only screen and (min-width: 1280px) {
    /* Agrega aquí tus estilos para desktops más grandes */
}